:root {
  // Colors --------------------------------------------------------------------

  // Base
  --c-dark: #201a17;
  --c-light: #ffffff;

  --c-disabled: #3d3d3d36;
  // Backgrounds
  --c-background: var(--c-dark);
  --c-surface: #b8b6b681;

  // Other
  --c-border: #18120f8a;
  --c-border-active: #fffb00;

  // Buttons
  --c-btn-primary: var(--c-primary);

  --c-btn-disabled: var(--c-disabled);

  // Block ---------------------------------------------------------------------

  --b-gap: 36px;
  --b-padding: 16px;
  --b-padding-m: 24px;
  --b-padding-b: 36px;
  --b-margin: 16px;
  --b-margin-m: 24px;
  --b-margin-b: 36px;

  // Layout --------------------------------------------------------------------

  --l-container: 1275px; // Общая ширина контейнера
}
