.counter {
  display: flex;
}

.counter__value {
  margin: 0 var(--b-margin);
}

.counter__button {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;

  background-color: var(--c-surface);
}
